# Environment files

fresh_env/
.env
Environment/
env
fresh_env
env/
.env    
.env
.env
**/env/
**/fresh_env/
__pycache__
venv/

# System files
.DS_Store
*.DS_Store

# Database files
*.db
reddit_analysis_may4.db
*.sqlite3
reddit_analysis.db
reddit_analysis_may17.db
reddit_analysis_may16.db
reddit_analysis_may15.db
reddit_analysis_may14.db
reddit_analysis_may13.db
reddit_analysis_may12.db
reddit_analysis_may11.db
reddit_analysis_may10.db
reddit_analysis_may9.db
reddit_analysis_may8.db
reddit_analysis_may7.db
reddit_analysis_may6.db
reddit_analysis_may5.db
reddit_analysis_may4.db
reddit_analysis_may3.db
reddit_analysis_may2.db
reddit_analysis_may1.db
reddit_analysis_may17.db
reddit_analysis_may16.db
reddit_analysis_may15.db
reddit_analysis_may14.db
reddit_analysis_may13.db
reddit_analysis_may12.db
reddit_analysis_may11.db
reddit_analysis_may10.db
reddit_analysis_may9.db
reddit_analysis_may8.db
reddit_analysis_may7.db
reddit_analysis_may6.db
reddit_analysis_may5.db
reddit_analysis_may4.db
reddit_analysis_may3.db
reddit_analysis_may2.db
reddit_analysis_may1.db
reddit_analysis_prod_backup.db
reddit_analysis_feb16.db
reddit_analysis_mar12.db
reddit_analysis_mar4.db
reddit_analysis_mar6.db
reddit_analysis_mar13.db
reddit_analysis_m16.db
reddit_analysis_mar26.db
reddit_analysis_backup.db
reddit_analysis_apr11.db
reddit_analysis_apr10.db
reddit_analysis_apr2.db
reddit_analysis_apr7.db
reddit_analysis_apr12.db
reddit_analysis_apr.db

# Python files
*.pyc
*.pyo
*.pyd
tablest.py
explore_posts_subs
reddit_db_analysis.py
tablest.py
main_backup.py
test.py
update_paid_user_alerts.py
test_resend.py
monitor_reddit.py
monitor_reddit.py

streamlit_app.py
explore_posts_subs.py
refresh_db.py
add_is_active_to_may4_db.py
add_dodo_column.py
add_is_active_column.py
db_schema_info.py


# User data files
users_local.txt
users_prod.txt
DODO_PAYMENTS_DOCS.md

# Node modules
*.log
.env
reddit_analysis.db
