# Environment files
.env
.env.example    

fresh_env/
env/
**/env/
**/fresh_env/
__pycache__

# System files
.DS_Store

# Database files
reddit_analysis.db
reddit_analysis_prod_backup.db
reddit_analysis_feb16.db
reddit_analysis.db
reddit_analysis_mar12.db
reddit_analysis_mar4.db
reddit_analysis_mar12.db
reddit_analysis_mar6.db
reddit_analysis_mar12.db
reddit_analysis_mar13.db
reddit_analysis_m16.db
reddit_analysis_m16.db
reddit_analysis_mar26.db
reddit_analysis.db
reddit_analysis.db

reddit_analysis_backup.db
reddit_analysis_apr11.db
reddit_analysis_apr10.db
reddit_analysis_apr2.db
reddit_analysis_apr7.db
reddit_analysis_apr12.db
reddit_analysis_apr.db

#any other database files
reddit_analysis.db
reddit_analysis_mar13
# Python files
check_columns.py
tablest.py
explore_posts_subs
reddit_db_analysis.py
tablest.py
main_backup.py
migrations.py
test.py
db_schema_info.py
streamlit_app.py
explore_posts_subs.py
migrate_db.py
refresh_db.py
# User data files
users_local.txt
users_prod.txt

# Node modules