# Environment files
.env
env/
**/env/
fresh_env/
.env.local
.env.development
.env.test
.env.production

# System files
.DS_Store

# Database files
reddit_analysis.db
reddit_analysis_prod_backup.db
reddit_analysis_feb16.db
reddit_analysis.db
reddit_analysis_mar12.db
reddit_analysis_mar4.db
reddit_analysis_mar12.db
reddit_analysis_mar6.db
reddit_analysis_mar12.db
reddit_analysis_mar13.db
reddit_analysis_m16.db
reddit_analysis_m16.db
#any other database files
reddit_analysis.db
reddit_analysis_mar13
# Python files
check_columns.py
tablest.py
reddit_db_analysis.py
streamlit_new.py
tablest.py
main_backup.py
test.py
# User data files
users_local.txt
users_prod.txt

# Node modules